@model Auction.Models.UsersModel

@using (Html.BeginForm("AddSeller","Admin"))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.Hidden("userId",Model.UserId)
        <input type="submit" class="btn btn-warning" value="@Model.Username" />
    </div>
}