@model IEnumerable<Auction.Domain.Entities.Lot>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tovary</h2>

@foreach (var p in Model)
{
    <div class="item">
        <h3>@p.Name</h3>
        @p.Description
        @p.IsCompleted
        <h4>@p.MinPrice.ToString("c")</h4>
    </div>
}