@using Auction.Models
@using Action = Antlr.Runtime.Misc.Action
@model Auction.Models.LotsListViewModel
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List</h2>

@foreach (var l in Model.Lots)
{

    Auction.Models.LotModel t = new LotModel() { Lot = l, BidAmount = l.CurrentPrice ?? 0 };
    @Html.Partial("LotPartial", t)
}
<ul class="pagination">
    @Html.PageLinks(Model.PageModel, x => Url.Action("List", new { page = x, category = Model.CurrentCategory }))
</ul>
