<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://pavelnikitiuk.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>pavelnikitiuk.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>pavelnikitiuk</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$pavelnikitiuk</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AuctionUserDb" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\AuctionUserDb.mdf;Initial Catalog=AuctionUserDb;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AuctionUserDb_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\AuctionUserDb.mdf;Initial Catalog=AuctionUserDb;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Auction.Models.ApplicationDbContext" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Auction.Models.ApplicationDbContext, Auction" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AuctionDbContext" Order="5" Enabled="True">
          <Destination Path="Data Source=tcp:o2gdpb2yje.database.windows.net,1433;Initial Catalog=pavelniAsSCIgsqS;User ID=pavelnikitiuk@o2gdpb2yje;Password=0m/n.vZXCV" Name="Data Source=tcp:o2gdpb2yje.database.windows.net,1433;Initial Catalog=pavelniAsSCIgsqS; MultipleActiveResultSets=True ;User Id=pavelnikitiuk@o2gdpb2yje;Password=0m/n.vZXCV;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Auction.Domain.DBase.AuctionDbContext, Auction.Domain" MigrationConfiguration="Auction.Migrations.Configuration, Auction" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Auction.Models.ApplicationDbContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AuctionDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:o2gdpb2yje.database.windows.net,1433;Initial Catalog=pavelniAsSCIgsqS; MultipleActiveResultSets=True ;User Id=pavelnikitiuk@o2gdpb2yje;Password=0m/n.vZXCV;</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AuctionUserDb-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Auction.Models.ApplicationDbContext" />
  </ItemGroup>
</Project>